
@font-face {
    font-family: 'Little Kids Handwriting';
    src: url('LittleKidsHandwriting-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Little Kids Handwriting', cursive;
    font-size: 65px;
}

button {
    background-color: #000; 
    margin-top: 20px; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button {
    position: relative; 
    z-index: 1; 
}

img {
    z-index: 1; 
}

button:hover {
    transform: scale(1.05); 
}
